section {
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
    background-image: url("Horloge.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 225px;
    height: 225px;
}

#Point {
    width: 5px;
    height: 5px;
    position: absolute;
    margin-top: 107px;
    margin-left: 107px;
}


#Seconde {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 5px;
    top: 3px;
    left: 3px;
    transform-origin: 0% 100%;
}

#Minute {
    position: absolute;
    background-color: black;
    width: 80px;
    height: 5px;
    transform-origin: 0% 100%;
}

#Heure {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 5px;
    transform-origin: 0% 100%;
}